/*! github.com/solutionroute/chroma-sass-themes */
.chroma .ge {
  font-style: italic; }

.chroma .gs {
  font-weight: bold; }

.chroma .c {
  color: #6a737d; }

.chroma .k {
  color: #d73a49; }

.chroma .l {
  color: #005cc5; }

.chroma .o {
  color: #d73a49; }

.chroma .cm {
  color: #6a737d; }

.chroma .cp {
  color: #6a737d; }

.chroma .c1 {
  color: #6a737d;
  font-style: italic; }

.chroma .cs {
  color: #6a737d; }

.chroma .kc {
  color: #6a849e; }

.chroma .kd {
  color: #d73a49; }

.chroma .kn {
  color: #d73a49; }

.chroma .kp {
  color: #d73a49; }

.chroma .kr {
  color: #d73a49; }

.chroma .kt {
  color: #e36209; }

.chroma .na {
  color: #6f42c1; }

.chroma .nc {
  color: #6f42c1; }

.chroma .nd {
  color: #6f42c1; }

.chroma .nf {
  color: #6f42c1; }

.chroma .nt {
  color: #d73a49; }

.chroma .ld {
  color: #005cc5; }

.chroma .m {
  color: #005cc5; }

.chroma .s {
  color: #005cc5; }

.chroma .mf {
  color: #005cc5; }

.chroma .mh {
  color: #005cc5; }

.chroma .mi {
  color: #005cc5; }

.chroma .il {
  color: #005cc5; }

.chroma .mo {
  color: #005cc5; }

.chroma .sb {
  color: #005cc5; }

.chroma .sc {
  color: #005cc5; }

.chroma .sd {
  color: #005cc5; }

.chroma .s2 {
  color: #005cc5; }

.chroma .se {
  color: #005cc5; }

.chroma .sh {
  color: #005cc5; }

.chroma .si {
  color: #005cc5; }

.chroma .sx {
  color: #005cc5; }

.chroma .sr {
  color: #005cc5; }

.chroma .s1 {
  color: #005cc5; }

.chroma .ss {
  color: #005cc5; }

.chroma .ow {
  color: #d73a49; }
