{{- if or (and (.Site.Params.post_navigation) (not (eq .Params.post_navigation false))) (.Params.post_navigation) -}}
{{- $.Scratch.Set "prev_link" "" -}}
{{- $.Scratch.Set "prev_title" "" -}}
{{- $.Scratch.Set "next_link" "" -}}
{{- $.Scratch.Set "next_title" "" -}}

{{- if .Params.custom_prev -}}
  {{- if not (eq .Params.custom_prev "none") -}}
    {{- if (fileExists (add "content/" .Params.custom_prev)) -}}
      {{- $page := ($.Site.GetPage "page" .Params.custom_prev) -}}
      {{- $.Scratch.Set "prev_link" $page.Permalink -}}
      {{- $.Scratch.Set "prev_title" $page.LinkTitle -}}
    {{- else -}}
      {{- errorf "Could not find the file at \"%s\" linked from \"%s\"" .Params.custom_prev .File.Path -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- with .PrevInSection -}}
    {{- $.Scratch.Set "prev_link" .Permalink -}}
    {{- $.Scratch.Set "prev_title" .Title -}}
  {{- end -}}
{{- end -}}

{{- if .Params.custom_next -}}
  {{- if not (eq .Params.custom_next "none") -}}
    {{- if (fileExists (add "content/" .Params.custom_next)) -}}
      {{- $page := ($.Site.GetPage "page" .Params.custom_next) -}}
      {{- $.Scratch.Set "next_link" $page.Permalink -}}
      {{- $.Scratch.Set "next_title" $page.LinkTitle -}}
    {{- else -}}
      {{- errorf "Could not find the file at \"%s\" linked from \"%s\"" .Params.custom_next .File.Path -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- with .NextInSection -}}
    {{- $.Scratch.Set "next_link" .Permalink -}}
    {{- $.Scratch.Set "next_title" .Title -}}
  {{- end -}}
{{- end -}}

{{- if or ($.Scratch.Get "next_link") ($.Scratch.Get "prev_link") -}}
  <nav id="post-nav" class="row">
    {{- if ($.Scratch.Get "prev_link") -}}
    <a href="{{- $.Scratch.Get "prev_link" -}}" rel="prev" class="small-full medium-half pagination small-text-center medium-text-left">
      <span class="fas fa-chevron-circle-left" aria-hidden></span><span class="sr-text">{{ i18n "previousPage" | title }}:</span> {{ $.Scratch.Get "prev_title" -}}
    </a>
    {{- else -}}
    <div class="small-hide medium-half"></div>
    {{- end -}}
    {{- if ($.Scratch.Get "next_link") -}}
    <a href="{{- $.Scratch.Get "next_link" -}}" rel="next" class="small-full medium-half pagination small-text-center medium-text-right">
      <span class="sr-text">{{ i18n "nextPage" | title }}:</span>
      {{- $.Scratch.Get "next_title" }} <span class="fa fa-chevron-circle-right" aria-hidden></span>
    </a>
    {{- end -}}
  </nav>
{{- end -}}
{{- end -}}
