{{- if or .HasPrev .HasNext -}}
<ul class="paginate menu">
  <li class="pagination-previous small-right small-full medium-third">
    {{ if .HasPrev }}
    <a class="button pagination" href="{{ .Prev.URL | absLangURL }}">
    {{else}}
    <span class="pagination button disabled">
    {{end}}
      <span class="fas fa-chevron-circle-left" aria-hidden></span> {{ i18n "previousPage" | title }}
    {{ if .HasPrev }}</a>{{else}}</span>{{end}}
  </li>
  <li class="pagination-page-number small-left small-full medium-third">
    {{ i18n "pageXofX" (dict "Current" .PageNumber "Total" .TotalPages) }}
  </li>
  <li class="pagination-next small-full medium-third">
    {{ if .HasNext }}
    <a class="button pagination" href="{{ .Next.URL | absLangURL }}">
    {{else}}
    <span class="pagination button disabled">
    {{end}}
      {{ i18n "nextPage" | title }} <span class="fas fa-chevron-circle-right" aria-hidden></span>
    {{ if .HasNext }}</a>{{ else }}</span>{{end}}
  </li>
</ul>
{{- end -}}
