{{ define "main" }}
                    {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") 2 }}
                    {{ range $paginator.Pages }}
                    <section id="main" class="wrapper">
                        <div class="inner">
                            <h1 class="major">{{ .Title }}</h1>
                            <span class="image fit">
                                {{ if and (isset .Params "featuredimage") (ne .Params.featuredImage "") }}
                                <a href="{{ .URL }}">
                                    <img src="{{ .Params.featuredImage }}" alt="{{ .Title }}" />
                                </a>
                                {{ end }}
                                {{ with .Params.youtube }}
                                <iframe src="https://www.youtube-nocookie.com/embed/{{ . }}?rel=0" frameborder="0" allowfullscreen></iframe>
                                {{ end }}
                                {{ with .Params.vimeo }}
                                <iframe src="https://player.vimeo.com/video/{{ . }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                {{ end }}
                            </span>
                            {{ partial "post-meta" . }}
                            {{ .Render "summary"}}
                        </div>
                    </section>
                    {{ end }}
                    
{{ partial "blog-pagination.html" . }}

{{ end }}