<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Site.Title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type='image/x-icon' href="{{ .Site.BaseURL }}favicon.ico" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/responsive.css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header class="site-header">
      <div class="description">
        <h1 class="medium"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        {{ if isset .Site.Params "desc" }}<p>{{ .Site.Params.desc }}</p>{{ end }}
      </div>
      {{ if isset .Site.Params "displaymenu" }}
      <ul>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}">{{ .Pre }}{{ .Name }}</a></li>
      {{end}}
      </ul>
      {{ end }}
    </header>