{{ partial "head.html" . }}
<body id="page">
{{ partial "navigation.html" . }}
<div id="main" role="main">
  <article class="hentry">
    <header class="header-title">
      <div class="header-title-wrap">
          <h1 class="entry-title">Page Not Found</h1>
      </div><!-- /.header-title-wrap -->
    </header>
    <div class="entry-content">
        Sorry, but the page you were trying to view does not exist — perhaps you can try searching for it below.
        <script type="text/javascript">
          var GOOG_FIXURL_LANG = 'en';
          var GOOG_FIXURL_SITE = '{{ .Site.BaseURL }}'
        </script>
        <script type="text/javascript"
          src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
        </script>
    </div><!-- /.entry-content -->
  </article>
</div><!-- /#main -->
{{ partial "foot.html" . }}
