// github.scss, a Chroma / Pygments syntax theme 
// Inspired by Github, this theme is an approximation. PRs welcome.

$code-color-background:								#f6f8fa; 
$code-color-text:									#24292e; 

$code-color-comment: 								#6a737d; 
$code-color-error: 									null;
$code-color-keyword: 								#d73a49; 
$code-color-literal: 								#005cc5; //null;
$code-color-name: 									null;
$code-color-operator: 								#d73a49; 
$code-color-punctuation: 							null;

// $code-color-comment--multiline: 					$code-color-comment;
// $code-color-comment--preproc: 					$code-color-comment;
// $code-color-comment--single: 					$code-color-comment;
// $code-color-comment--special: 					$code-color-comment;
$code-color-keyword--constant:						#6a849e; // $code-color-keyword;
// $code-color-keyword--declaration: 				$code-color-keyword;
// $code-color-keyword--namespace: 					$code-color-keyword;
// $code-color-keyword--pseudo: 					$code-color-keyword;
// $code-color-keyword--reserved: 					$code-color-keyword;
$code-color-keyword--type:							#e36209; // $code-color-keyword;
$code-color-name--attribute:						#6f42c1; //$code-color-name;
// $code-color-name--builtin:							$code-color-keyword; // $code-color-name;
$code-color-name--class: 							#6f42c1; //$code-color-name;
// $code-color-name--constant: 						$code-color-name;
$code-color-name--decorator: 						$code-color-name--attribute; // $code-color-name;
// $code-color-name--entity: 						$code-color-name;
// $code-color-name--exception: 					$code-color-name;
$code-color-name--function:							$code-color-name--attribute; //	$code-color-name;
// $code-color-name--label: 						$code-color-name;
// $code-color-name--namespace: 					$code-color-name;
// $code-color-name--other:							$code-color-name;
// $code-color-name--property: 						$code-color-name;
$code-color-name--tag:								$code-color-keyword; //$code-color-name;
// $code-color-name--variable: 						$code-color-name;
// $code-color-name--builtin--pseudo: 				$code-color-name;
// $code-color-name--variable--class: 				$code-color-name--variable;
// $code-color-name--variable--global: 				$code-color-name--variable;
// $code-color-name--variable--instance: 			$code-color-name--variable;

// $code-color-literal--date: 						$code-color-literal;
$code-color-literal--number: 						#005cc5; // $code-color-literal;
$code-color-literal--string:						#005cc5; // $code-color-literal;

// $code-color-literal--number--oct: 				$code-color-literal--number;
// $code-color-literal--number--hex: 				$code-color-literal--number;
// $code-color-literal--number--float: 				$code-color-literal--number;
// $code-color-literal--number--integer: 			$code-color-literal--number;
// $code-color-literal--number--integer--long: 		$code-color-literal--number--integer;

// $code-color-literal--string--backtick: 			$code-color-literal--string;
// $code-color-literal--string--char: 				$code-color-literal--string;
// $code-color-literal--string--doc: 				$code-color-literal--string;
// $code-color-literal--string--double: 			$code-color-literal--string;
// $code-color-literal--string--escape: 			$code-color-literal--string;
// $code-color-literal--string--heredoc: 			$code-color-literal--string;
// $code-color-literal--string--interpol: 			$code-color-literal--string;
// $code-color-literal--string--other: 				$code-color-literal--string;
// $code-color-literal--string--regex: 				$code-color-literal--string;
// $code-color-literal--string--single: 			$code-color-literal--string;
// $code-color-literal--string--symbol: 			$code-color-literal--string;

// $code-color-operator--word: 						$code-color-operator;
// $code-color-text--whitespace: 					null;

@import '../chroma';
