// vimspectr210-light, a Chroma / Pygments syntax theme 
// Inspired by Vimspectr https://nightsense.github.io/vimspectr/

$code-color-background:								#f5faff;
$code-color-text:									#5a6978;

$code-color-comment: 								#7b8794; 
$code-color-error: 									null;
$code-color-keyword: 								#699e34;
$code-color-literal: 								#4286c9; //null;
$code-color-name: 									null;
$code-color-operator: 								#699e34;
$code-color-punctuation: 							null;

// $code-color-comment--multiline:					$code-color-comment;
// $code-color-comment--preproc: 					$code-color-comment;
// $code-color-comment--single: 					$code-color-comment;
// $code-color-comment--special: 					$code-color-comment;
$code-color-keyword--constant:						$code-color-keyword;
// $code-color-keyword--declaration: 				$code-color-keyword;
// $code-color-keyword--namespace:					$code-color-keyword;
// $code-color-keyword--pseudo: 					$code-color-keyword;
// $code-color-keyword--reserved: 					$code-color-keyword;
$code-color-keyword--type:							#349e90; // $code-color-keyword;
$code-color-name--attribute:						#e0708c; // $code-color-keyword; //$code-color-name;
//  $code-color-name--builtin: 						$code-color-name;
//  $code-color-name--class: 						$code-color-name;
//  $code-color-name--constant: 					$code-color-name;
$code-color-name--decorator: 						$code-color-name--attribute; // $code-color-name;
//  $code-color-name--entity: 						$code-color-name;
//  $code-color-name--exception: 					$code-color-name;
$code-color-name--function: 						$code-color-name--attribute; // $code-color-name;
//  $code-color-name--label: 						code-color-name;
//  $code-color-name--namespace: 					$code-color-name;
//  $code-color-name--other: 						$code-color-name;
//  $code-color-name--property: 					$code-color-name;
$code-color-name--tag:								$code-color-keyword; //$code-color-name;
//  $code-color-name--variable: 					$code-color-name;
//  $code-color-name--builtin--pseudo: 				$code-color-name;
//  $code-color-name--variable--class: 				$code-color-name--variable;
//  $code-color-name--variable--global: 			$code-color-name--variable;
//  $code-color-name--variable--instance: 			$code-color-name--variable;

//  $code-color-literal--date: 							$code-color-literal;
$code-color-literal--number: 						#4286c9; // $code-color-literal;
$code-color-literal--string:						#4286c9; // $code-color-literal;

//  $code-color-literal--number--oct: 				$code-color-literal--number;
//  $code-color-literal--number--hex: 				$code-color-literal--number;
//  $code-color-literal--number--float: 			$code-color-literal--number;
//  $code-color-literal--number--integer: 			$code-color-literal--number;
//  $code-color-literal--number--integer--long: 	$code-color-literal--number--integer;

//  $code-color-literal--string--backtick: 			$code-color-literal--string;
//  $code-color-literal--string--char: 				$code-color-literal--string;
//  $code-color-literal--string--doc: 				$code-color-literal--string;
//  $code-color-literal--string--double: 			$code-color-literal--string;
//  $code-color-literal--string--escape: 			$code-color-literal--string;
//  $code-color-literal--string--heredoc: 			$code-color-literal--string;
//  $code-color-literal--string--interpol: 			$code-color-literal--string;
//  $code-color-literal--string--other: 			$code-color-literal--string;
//  $code-color-literal--string--regex: 			$code-color-literal--string;
//  $code-color-literal--string--single: 			$code-color-literal--string;
//  $code-color-literal--string--symbol: 			$code-color-literal--string;

//  $code-color-operator--word: 					$code-color-operator;
//  $code-color-text--whitespace: 					null;

@import '../chroma';
