{{- if .Site.Params.widgets.upcoming_events -}}
<div class="widget">
	<header>
		<span class="widget-header"><span class="fas fa-calendar fa-xs" aria-hidden></span> {{ i18n "upcomingEventsLabel" | title }}</span>
	</header>
	{{- range $format := (.Site.GetPage "home").OutputFormats -}}
		{{ if eq $format.Name "Calendar" }}
		<a class="widget-header-small button" href="webcal://{{ replace (replace ("index.ics" | absLangURL) "https://" "") "http://" ""}}"><span class="far fa-calendar-plus fa-xs" aria-hidden></span> {{ i18n "icalSubscribe" | title }}</a>
		{{ end }}
	{{- end -}}
	{{ $events := (where (where .Pages "Section" "events") "IsPage" true) }}
	{{ $events := $events.ByParam "start_date" }}
	<ul>
		{{ if isset $events 0 }}
			{{ $withDay := "01/02/2006 at 3:04 PM" }}
			{{ $timeOnly := "3:04 PM" }}
			{{- range first 5 $events -}}
				{{- $sameDay := eq (dateFormat "2006-01-02" .Params.end_date) (dateFormat "2006-01-02" .Params.start_date) -}}
				{{- $.Scratch.Set "dateFormat" $withDay -}}
				<li itemscope itemtype="http://schema.org/Event">
		      <span class="widget-header-small text-left" itemprop="name"><a href="{{ .URL }}">{{ .Title }}</a></span>
					{{- if $sameDay -}}
						<span class="far fa-calendar fa-xs" aria-hidden></span>
						<strong>{{ i18n "dateLabel" | title }}:</strong>
						{{ dateFormat "01/02/2006" .Params.start_date }}
						<br/>
						<span class="far fa-clock fa-xs" aria-hidden></span>
						<strong>{{ i18n "timeLabel" | title }}:</strong>
						{{- $.Scratch.Set "dateFormat" $timeOnly -}}
					{{- end -}}
					{{- if not $sameDay -}}
					<span class="far fa-calendar fa-xs" aria-hidden></span>
					<strong>{{ i18n "startLabel" | title }}:</strong>
					{{- end -}}
					<time datetime="{{ dateFormat "2006-01-02T15:04:05" .Params.start_date }}" content="{{ dateFormat "2006-01-02T15:04:05" .Params.start_date }}" itemprop="startDate">
						{{ dateFormat ($.Scratch.Get "dateFormat") .Params.start_date }}
					</time>
					{{ if $sameDay }}to{{ else }}
					<br/><span class="far fa-calendar fa-xs" aria-hidden></span>
					<strong>{{ i18n "endLabel" | title }}:</strong>
					{{ end }}
					<time datetime="{{ dateFormat "2006-01-02T15:04:05" .Params.end_date }}" content="{{ dateFormat "2006-01-02T15:04:05" .Params.end_date }}" itemprop="endDate">
						{{ dateFormat ($.Scratch.Get "dateFormat") .Params.end_date }}
					</time>
					{{ with .Params.location -}}
					<br/><span class="fas fa-map-marker-alt fa-xs" aria-hidden></span>
					<span itemprop="location"><strong>{{ i18n "locationLabel" | title }}:</strong> {{ . }}</span>
					{{- end }}
		      <br/>
					<span itemprop="about">
					{{- if .Description -}}
	          {{ .Description | plainify | htmlUnescape | replaceRE "(?m)(\\s+)" " " }} <a href="{{ .Permalink }}">[{{ i18n "readMore" (.Title | title) | safeHTML }}...]</a>
	        {{- else -}}
	          {{ .Summary | plainify | htmlUnescape | replaceRE "(?m)(\\s+)" " " }}{{ if .Truncated }} <a href="{{ .Permalink }}">[{{ i18n "readMore" (.Title | title) | safeHTML }}...]</a>{{ end }}
	        {{- end -}}
					</span>
		    </li>
			{{- end -}}
		{{- else -}}
		<li><em>No upcoming events</em></li>
		{{- end -}}
	</ul>
</div>
{{- end -}}
